.decription{
  border: 2px solid blue;
  background-color: lightblue;
  margin: 10px;
  margin-left: 10%;
  padding: 25px;
  width: 30%;
  border-radius: 25px;
  height: 30px;
  text-decoration: none;
  font-size: 1.3em;
  color: black;
}

.flexdiv{
  display: flex;
}
