/*************************************/
/*** General Styles ***/
/*************************************/
 body {
	background-image: url("images/background.jpg");
	background-repeat: repeat-x;
	}

 .row, .headerrow {
	display: flex;
 }

 #logo{
	flex:15%;
 }

 .container, .indeximage, .buttons {
      flex: 33.33%;
	  padding: 5px;
    }

 h1 {
	font-family: 'Dancing Script', cursive, bold !important;
	font-size: 350%;
	color: white;
	padding-left: 80px;
	flex:90%;
	}

  /*************************************/
  /*** Block List of Employees on Contact Us Page ***/
  /*************************************/
  li.location {
	list-style-image:url("images/location.jpg");
  }
    li.tel {
	list-style-image:url("images/phone.png");
  }
  /*************************************/
  /*** Block to customize navigation bar ***/
  /*************************************/
  nav {
	background-color: #0c4db5;
	font-weight: bold;
	font-size: 125%;
	height: 27px;
  }

  .navbar-brand {
  padding: 5px 5px !important;
	color: white !important;
  height: inherit !important;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 5%;
  }

  .navbar-brand:hover {
	color: black !important;
	background-color: white !important;
  }
  /*************************************/
  /*** Styles for footer ***/
  /*************************************/

  footer {
	position:relative;
	bottom: 0;
	left: 0;
  margin-top: 5%;
	font-size:8px:
  }
  /*************************************/
  /* Block for image opacity */
  /*************************************/
  .indeximage{
	opacity: 0.75;
  }
   .indeximage:hover{
	opacity: 1;
  }
  /* End of block for image opacity */
  /*************************************/
  /** Styles for Banner on Index Page***/
  /*************************************/
  .banner{
    position: relative;
    text-align: center;
    font-size: 2.25em;
  }
  .greeting{
    position: absolute;
    top: 50%
    left: 50%;
    right: 50%;
    transform: translate(-50,-50);
  }
