
 body {
	background-image: url("images/background.jpg");
	background-repeat: repeat-x;
	}

 .row, .headerrow {
	display: flex;
 }

 #logo{
	flex:15%;
 }

 .container, .indeximage, .buttons {
      flex: 33.33%;
	  padding: 5px;
    }

 h1 {
	font-family: 'Dancing Script', cursive, bold !important;
	font-size: 350%;
	color: white;
	padding-left: 80px;
	flex:90%;
	}

  li.location {
	list-style-image:url("images/location.jpg");
  }
    li.tel {
	list-style-image:url("images/phone.png");
  }

  /* Block to customize navigation bar */
  nav {
	background-color: #0c4db5;
	font-weight: bold;
	font-size: 125%;
	height: 27px;
  }

  .navbar {
	color: white;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 65px;
  }

  .navbar:hover {
	color: black;
	background-color: white;
  }
  /* End of navigation customize block*/

  footer {
	position:relative;
	bottom: 0;
	left: 0;
  margin-top: 5%;
	font-size:8px:
  }

  /* Block for image opacity */
  .indeximage{
	opacity: 0.75;
  }

   .indeximage:hover{
	opacity: 1;
  }

  /* End of block for image opacity */
