/****OOSD - Fall 2018. CPRG-210-OSD  Dima Bognen****/
/*** Styles for destanation.php ***/

/*** Styles for block of Descriptions ***/
.decription{
  border: 2px solid blue;
  background-color: lightblue;
  margin: 15px;
  margin-left: 10%;
  padding: 25px;
  width: 30%;
  border-radius: 25px;
  height: 30px;
  text-decoration: none;
  font-size: 1.3em;
  color: black;
}

/*** Styles for Wrap (main Div) on Destanation Page ***/
.flexdiv{
  display: flex;
}

/*** Styles for the Plane image (the one flights back and forth) ***/
#flyingPlane {
  position: absolute;
  width: 50px;
  left: 0px;
  top: 18%;
}
